<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753744735898-6ua01a803co9t6mh1nkd5bo3dtr99gcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753744735898-6ua01a803co9t6mh1nkd5bo3dtr99gcr</string>
	<key>API_KEY</key>
	<string>AIzaSyADM_uI1YrYXNxCZrD14yCRhHSadc6Ev8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>753744735898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onekosmos.blockid.sdk</string>
	<key>PROJECT_ID</key>
	<string>blockid-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>blockid-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753744735898:ios:13214ec218b4b85caff923</string>
</dict>
</plist>